* {
    box-sizing: border-box;
}


.phone-img {
    width: 1050px;
    height: 645px;
    right: 220px;
    margin-bottom: 0 !important;
}

@media (max-width: 1430px) {
    .phone-img {
        width: 100%;
        max-height: 545px;
        height: 100vh;
        max-width: 900px;
        min-width: 780px;
        right: 0;
        margin-bottom: 0 !important;
        background-size: cover;
    }

    .container-main {
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {
    .phone-img {
        position: relative;
        order: -1;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-content h1 {
        order: -2;
        padding: 0 10px;
        white-space: break-spaces;
    }

    .header-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        overflow-x: hidden;
    }

    .header-content__actions * {
        margin: 0 auto !important;
        max-width: 300px;
    }

    .header-content__actions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 24px 0;
        width: 100%;
        background: #1d2631;
    }

    nav {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-container {
        overflow: hidden;
    }
}

@media (max-width: 480px) {
    .phone-img {
        left: -80px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: #BFC3C7;
}

@media (min-width: 1466px) {
    .information-phones__mobile {
        display: none;
    }
}

@media (max-width: 1465px) {
    .information-phones {
        display: none;
    }

    .hours {
        background-color: white;
    }

    .information {
        padding-bottom: 0;
        background-position-y: 385px;
        overflow: hidden;
    }

    .information-phones__mobile {
        display: grid;
        grid-template-areas:
                'img up'
                'img change'
                'img new';
        gap: 0 40px;
        align-items: flex-end;
        overflow: hidden;
    }

    .information img {
        grid-area: img;
        position: relative;
        bottom: -70px;
    }

    .up {
        grid-area: up;
    }

    .change {
        grid-area: change;
    }

    .new {
        grid-area: new;
        padding-bottom: 50px;
    }

    .up,
    .change,
    .new {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .up p:first-child,
    .change p:first-child,
    .new p:first-child {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.33333;
        color: #000;
        margin-bottom: 12px;
    }

    .up p:last-child,
    .change p:last-child,
    .new p:last-child {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71429;
        color: #283645;
    }

    .hours {
        padding-top: 54px;
    }
}

@media (max-width: 600px) {
    .information {
        background-position-y: 50px;
    }

    .information .information-title {
        font-weight: 300;
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        color: #283645;
    }

    .information-phones__mobile {
        grid-template-areas:
                'up'
                'change'
                'new'
                'img';
        gap: 20px;
        justify-items: center;

        .new {
            padding-bottom: 0;
        }

        .up,
        .change,
        .new {
            max-width: 280px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }

    .hours {
        padding-right: 10px;
        padding-left: 10px;
    }
    .hours-content {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .hours-content img {
        margin: 0;
    }
}